    .registerBtn {
        font-size: 15px;
        border: 1px solid grey; 
        border-radius: 0.5rem;
        padding: 10px;
      }

      button:hover {
          color:black;
          background-color:rgba(38, 118, 224, 0.532);
      }