header {
    margin-bottom: 4rem;
  }
  

   
  .main-nav {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link {
    padding: 15px 20px;
    text-decoration: none;
  }

  .nav-link:hover {
    background-color:rgb(32, 178, 171);
    color: snow;
}

.container {
  display: flex;
  align-items: center;
}

.img {
  width: 80px;
}

.login-logout-nav {
  display: flex;
  align-items: center;
}

.logout-msg {
  color: white;
  background-color: rgb(53, 142, 205);
  padding: 10px;
  border-radius: 0.5rem;
}
