/* header {
  border: 2px   solid brown;
    background-color:snow;
  }
   */

   
  .main-nav {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link {
    padding: 15px 20px;
    text-decoration: none;
  }

  .nav-link:hover {
    background-color:lightseagreen;
    color: snow;
}

.container {
  display: flex;
  align-items: center;
}

.img {
  width: 80px;
}

.login-logout-nav {
  display: flex;
  align-items: center;
}
